@model AUEUMS.View_Models.TimetableHeaderViewModel
@{
    @Html.Hidden("AddTimetableHeader", Url.Action("AddTimetableHeader", "Admin"))
    @Html.Hidden("UpdateTimetableHeader", Url.Action("UpdateTimetableHeader", "Admin"))

    @Html.Hidden("THeaderIdQuick", Model.Id)
    @Html.Hidden("modeTHeaderQuick", Model.mode)
    @Html.Hidden("TimetableList", Url.Action("TimetableList", "Admin"))

    @Html.AntiForgeryToken()
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<div class="col-md-12">
    <div class="main-card mb-12 card">
        <div class="card-body" style="padding-bottom:20px;padding-top:20px;">
            <h5 class="card-title"><label id="prjTitle">@Model.title</label></h5>
            <form id="formid" class="needs-validation" novalidate>

                <div class="form-row">
                    <div class="col-md-6 mb-3 position-relative form-group">
                        <label for="lblSemesterType" class="">Semster Type</label>
                        <select asp-for="SemesterTypelistId" name="ttSemesterType" id="ttSemesterType" class="form-control"
                                asp-items="@(new SelectList(Model.tblSemesterTypelist, "Id", "SemesterType",Model.SemesterTypelistId))" required>
                            <option value="">Select</option>
                        </select>
                    </div>
               
                    <div class="col-md-6 mb-3 position-relative form-group">                 
                        <label for="lblYearlist" class="">Year</label>
                        <select asp-for="YearlistId" name="ttYearlist" id="ttYearlist" class="form-control"
                                asp-items="@(new SelectList(Model.tblYearlist, "Id", "SemesterYear",Model.YearlistId))" required>
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3 position-relative form-group">
                        <label for="lblRoom" class="">Room</label>
                        <select asp-for="RoomlistId" name="ttRoomlist" id="ttRoomlist" class="form-control"
                                asp-items="@(new SelectList(Model.tblRoomlist, "Id", "RoomNo",Model.RoomlistId))" required>
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3 position-relative form-group">
                        <label for="lblttDate" class="">Date</label>
                        <div class="input-group">
                            <input asp-for="displayTimetableDate" name="dtTimetableDate" id="dtTimetableDate" placeholder="" type="text" class="form-control" readonly="readonly" required>
                            <div class="input-group-append">
                                <a id="TimetableDateTimeIcon" class="font-icon-wrapper font-icon-md">
                                    <i class="fa fa-calendar icon-gradient bg-tempting-azure"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position-relative form-group">
                    <button class="mt-1 btn btn-primary" id="tbnSubmit">Submit</button>
                    <button class="mt-1 btn btn-light" type="button" id="tbnCancelSideBar">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#tbnCancelSideBar').on("click", function () {
            $('#RightSlidingWindow').removeAttr('class');
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');
        });

        $('.Numberformat').number(true, 2);
        $('.wholeNumberformat').number(true, 0);


        $("#dtTimetableDate").datepicker({
            dateFormat: 'dd/mm/yy', autoclose: true, todayBtn: 'linked', changeMonth: true,
            changeYear: true
        });
        $('#TimetableDateTimeIcon').click(function () {
            if ($('#dtTimetableDate').is(':disabled') == false) {
                var minDateSel = new Date(moment().format("MM/DD/YYYY"));
                $("#dtTimetableDate").datepicker("option", "minDate", minDateSel);
                $('#dtTimetableDate').datepicker('show');
            }
        });



    });
    var forms = document.getElementsByClassName('needs-validation');
  
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {

            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                //alert('Add Mandatory Fields');
                showToolTip('Add Mandatory Fields')
                form.classList.add('was-validated');
            }
            else {        
         

                var TimetableHeaderViewModel = {
                    "Id": parseInt($("#THeaderIdQuick").val()),
                    "SemesterTypelistId":parseInt( $("#ttSemesterType").val()),
                    "RoomlistId": parseInt($("#ttRoomlist").val()),
                    "YearlistId": parseInt($("#ttYearlist").val()),
                    "TimetableDateString": (moment($("#dtTimetableDate").val(), 'DD/MM/YYYY')).format('MM/DD/YYYY')
                   

                };
                var urlToCall = $("#AddTimetableHeader").val();
                if (parseInt($("#THeaderIdQuick").val()) != "-1")
                    urlToCall = $("#UpdateTimetableHeader").val();

                $.ajax({
                    url: urlToCall,
                    type: "Post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: JSON.stringify(TimetableHeaderViewModel),
                    cache: false,
                    async: false,
                    success: function (result) {
                        var resultdata = JSON.parse(result);
                        if (resultdata.Usermessage == 1) {

                            form.classList.add('was-validated');
                            showToolTip('Timetable Header Saved Successfully')
                            $("#formid").removeAttr('class', 'was-validated');

                            $("#THeaderIdQuick").val(-1);
                            if ($("#modeTHeaderQuick").val() == "quick") {
                                $("#displayquick").load($("#TimetableList").val() + "?mode=detail&ctrlid=Id");
                                event.preventDefault();
                                event.stopPropagation();
                                $('#RightSlidingWindow').removeAttr('class');
                                $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

                            }
                            else if ($("#modeTHeaderQuick").val() == "detail") {
                                $("#myPartialViewContainer").load($("#TimetableList").val() + "?mode=detail&ctrlid=Id");
                                event.preventDefault();
                                event.stopPropagation();
                                $('#RightSlidingWindow').removeAttr('class');
                                $('#RightSlidingWindow').attr('class', 'ui-theme-settings');
                            }
                            else {
                                $("#myPartialViewContainer").load($("#TimetableList").val() + "?mode=detail&ctrlid=Id");
                                event.preventDefault();
                                event.stopPropagation();
                                $('#RightSlidingWindow').removeAttr('class');
                                $('#RightSlidingWindow').attr('class', 'ui-theme-settings');
                            }
                        }
                        else if(resultdata.Usermessage == "-9")
                        {
                            form.classList.add('was-validated');
                            $("#formid").removeAttr('class', 'was-validated');
                            showToolTip('University Operating Days: Sunday to Thursday only');
                            event.preventDefault();
                            event.stopPropagation();

                        }
                       
                        else {
                            form.classList.add('was-validated');
                            $("#formid").removeAttr('class', 'was-validated');
                            showToolTip('Timetable - API call from app to datacore failed');
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    },
                    fail: function (result) {
                        form.classList.add('was-validated');
                        $("#formid").removeAttr('class', 'was-validated');
                        showToolTip('Timetable - API call from Client Side failed');
                        event.preventDefault();
                        event.stopPropagation();
                    }
                });
            }
        })
    });
</script>