@model AUEUMS.View_Models.TimetableHeaderListViewModel
@Html.Hidden("NewAssignments", Url.Action("NewAssignments", "Faculty"))
@Html.Hidden("GetAssignmentsEdit", Url.Action("GetAssignmentsEdit", "Faculty"))
@Html.Hidden("UploadAssignment", Url.Action("UploadAssignment", "Faculty"))
@Html.Hidden("DownloadFile", Url.Action("DownloadFile", "Faculty"))

@Html.Hidden("TListmode", Model.mode)


@Html.AntiForgeryToken()

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-tools icon-gradient bg-warm-flame">
                    </i>
                </div>
                <div>
                    <label id="headernameClie">Timetable List</label>
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card" style="width:100%">
        <div class="card-body">
            <div class="btn-group">
                <a id="btnNewAssignments" href="#">
                    <i class="pe-7s-plus"></i>New
                </a>
            </div>

            <div id="divTimeTableHdr" class="table-responsive">
                <table class="table table-bordered table-striped table-condensed display" id="TimeTableHdr">
                    <thead>
                        <tr>

                            <th style="width: 100px;">Semester</th>
                            <th style="width: 100px;">Year</th>
                            <th style="width:60px;">Room</th>
                            <th style="width:80px;">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.timetableHeaders)
                        {
                            <tr>

                                <td>@item.tblSemesterType.SemesterType</td>
                                <td>@item.tblYear.SemesterYear</td>
                                <td>@item.tblRoom.RoomType</td>
                             
                                <td>

                                    <a data="testpara=2&assignmentId=@item.Id" data-toggle="modal" type="button" class="btngrid btnEditAssignment" style="cursor: pointer;padding-right: 18px;">
                                        <i class="pe-7s-pen" style="color:blueviolet;font-size:medium;font-weight:bold;"></i>
                                    </a>

                                    <a data="testpara=2&assignmentId=@item.Id" data-toggle="modal" type="button" class="btngrid btnUploadAssignment" style="cursor: pointer;padding-right: 18px;">
                                        <i class="pe-7s-pen" style="color:blueviolet;font-size:medium;font-weight:bold;"></i>
                                    </a>
                                    <a data="testpara=2&assignmentId=@item.Id" data-toggle="modal" type="button" class="btngrid btnDownloadAssignment" style="cursor: pointer;padding-right: 18px;">
                                        <i class="pe-7s-pen" style="color:blueviolet;font-size:medium;font-weight:bold;"></i>
                                    </a>

                                    @if (Model.mode == "quick")
                                    {
                                        @*    <a data="testpara=2&CurrencyId=@item.CurrencyId" type="button" class="btngrid btnSelectContact" style="cursor: pointer;">
                                        <i class="pe-7s-album"></i>
                                    </a> *@
                                    }
                                </td>


                            </tr>

                        }
                    </tbody>
                </table>
            </div>

            <div class="position-relative form-group" hidden>
                <button class="mb-2 mr-2 btn btn-light" type="button" id="tbnCancelSideBar">Cancel</button>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
        });

        $('#tbnCancelSideBar').on("click", function () {
            $('#RightSlidingWindow').removeAttr('class');
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');
        });

        $('#TimeTableHdr').DataTable({
            dom: "Bfrtip",
            buttons: [
            ]
        });


        $('#btnNewAssignments').on("click", function () {
            var mode = $("#TListmode").val();
            $("#displayquick").load($("#NewAssignments").val() + "?mode=" + mode + "&AssignmentsId=-1");
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings settings-open');
            event.preventDefault();
            event.stopPropagation();
        });


        var EditCurrencyObj;
        var uriEditClientObj;
        $('#AssignmentDetails tbody').on('click', '.btnSelectContact', function () {

            EditCurrencyObj = $(this);  //for future use
            uriEditClientObj = EditCurrencyObj[0].attributes['1'].textContent;
            uriEditClientObj = $(this).attr('data');
            var CurrencyId = getUrlParameter("CurrencyId", uriEditClientObj);
            $("#CurrencyId").val(CurrencyId);
            event.preventDefault();
            event.stopPropagation();
            $('#RightSlidingWindow').removeAttr('class');
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

        });

        var EditAssignmentObj;
        var uriEditClientsObj;
        $('#AssignmentDetails tbody').on('click', '.btnEditAssignment', function () {

            var mode = $("#TListmode").val();
            EditAssignmentObj = $(this);  //for future use
            uriEditClientsObj = EditAssignmentObj[0].attributes['1'].textContent;
            uriEditClientsObj = $(this).attr('data');
            var assignmentId = getUrlParameter("assignmentId", uriEditClientsObj);
            alert(assignmentId);
            $("#displayquick").load($("#GetAssignmentsEdit").val() + "?mode=" + mode + "&AssignmentId=" + assignmentId);
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings settings-open');
            // event.preventDefault();
            // event.stopPropagation();

        });

        var UploadAssignmentObj;
        var uriUploadClientsObj;
        $('#AssignmentDetails tbody').on('click', '.btnUploadAssignment', function () {


            var mode = $("#TListmode").val();
            UploadAssignmentObj = $(this);  //for future use
            uriUploadClientsObj = UploadAssignmentObj[0].attributes['1'].textContent;
            uriUploadClientsObj = $(this).attr('data');
            var assignmentId = getUrlParameter("assignmentId", uriUploadClientsObj);
            $("#displayquick").load($("#UploadAssignment").val() + "?mode=" + mode + "&AssignmentId=" + assignmentId);
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings settings-open');
            event.preventDefault();
            event.stopPropagation();


        });

        var DownloadAssignmentObj;
        var uriDownloadClientsObj;
        $('#AssignmentDetails tbody').on('click', '.btnDownloadAssignment', function () {


            var mode = $("#TListmode").val();
            DownloadAssignmentObj = $(this);  //for future use
            uriDownloadClientsObj = DownloadAssignmentObj[0].attributes['1'].textContent;
            uriDownloadClientsObj = $(this).attr('data');
            var assignmentId = getUrlParameter("assignmentId", uriDownloadClientsObj);
            $("#displayquick").load($("#DownloadFile").val() + "?mode=" + mode + "&AssignmentId=" + assignmentId);
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings settings-open');
            event.preventDefault();
            event.stopPropagation();


        });





        $('#btnCloseDeleteClient').on("click", function () {
            $('#DeleteClientpopup').removeAttr('class');
            $('#DeleteClientpopup').attr('class', 'modal fade');
            $('#DeleteClientpopup').removeAttr('style');
            $('#DeleteClientpopup').removeAttr('aria-hidden');
            $('#DeleteClientpopup').attr('area-modal', 'false');
            $("#clientdeletionmsg").text('');
            $("#hclientDId").val('');

        });



    });

    function getUrlParameter(name, uri) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(uri);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }



    function GetCurrencyList() {
        $.ajax({
            url: $("#GetCurrency").val(),
            type: "Get",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            cache: false,
            success: function (result) {

            },
            fail: function (response) {
                alert("JSON Error, Saving Selection - Please see System Adimistrator");
            }
        });
    }
</script>
